.form_container {
  display: flex;
  justify-content:center ;
  align-items: center;
  padding-block: 1em;
}

.form_input {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 7px 12px;
  border-radius: 4px 0  0  4px;
}

.form_button {
  background-color: #73a820;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 7px 12px;
  border-radius: o 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease ;
}

.form_button:hover {
background-color: #5d861a;
}

@media (min-width: 768px ) {
  .section {
 padding-top: 3em;
 padding-block: 1.5em;
}

.container {
  padding-inline: 1em;
  
}
}