.header {
  
  height: 35dvh;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.section {
 background-color: #00000030;
 padding-top: 1.5em;
 padding-bottom: .5em;
}

.container {
  padding-inline: 1em;
  max-width: 1200px;
  margin-inline: auto;
  
}

.error {
  text-align: center;
  margin: 0;
  color: rgb(220, 169, 169);
  font-size: small;
  margin-bottom: 1em;
}

@media (min-width: 768px ) {
  .section {
 padding-top: 3em;
 padding-block: 1.5em;
}

.container {
  padding-inline: 1em;
  
}
}